<div class="jumbotron text-center">
	<h1>Acerca De</h1>
<!--	<p>{{ message }}</p>-->

    <div class="sample2">
                <div class="slider svert"></div>
                <div class="slider svert"></div>
                <div class="slider svert"></div>
    </div>
</div>

<div class="col-sm-6">
    <div class="slider shor"></div>
    <div class="slider shor slider-success"></div>
    <div class="slider shor slider-material-pink"></div>
</div>

<i class="mdi-image-tune" style="font-size: 40pt;"></i>
<i class="mdi-editor-format-size" style="font-size: 40pt;"></i>
<i class="mdi-action-view-module" style="font-size: 40pt;"></i>
<i class="mdi-action-android" style="font-size: 40pt;"></i>
<i class="mdi-navigation-apps" style="font-size: 40pt;"></i>
<i class="mdi-navigation-menu" style="font-size: 40pt;"></i>
<i class="mdi-navigation-more-vert" style="font-size: 40pt;"></i>
<i class="mdi-action-search" style="font-size: 40pt;"></i>