<div class="jumbotron text-center">
	<h1>Página Principal</h1>
<!--	<p>{{ message }}</p>-->


</div>

<!-- <div class="col-sm-6">
	<input type="range" class="slider-material-primary" id="slider-step">
    <div class="noUiSlider shor"></div>
    <div class="slider shor slider-success"></div>
    <div class="slider shor slider-material-pink"></div>
</div>
<div class="col-sm-6" style="height: 150px">
    <div class="slider svert"></div>
    <div class="slider svert slider-success"></div>
    <div class="slider svert slider-material-pink"></div>
</div> -->