<div class="bar bar-header bar-light">
    <h1 class="title">Canticos</h1>
</div>

<ion-content class="has-bottom padding">

<div class="text-center" ng-controller="Control1">
   
<!-- <h1 class="title">Canticos</h1> -->
<!--    <p class="lead text-center" ng-style="style(fuente)">This is the text you want to change the font size</p>-->

<!-- <div class="row responsive-sm">
  <div class="col"><a class="button" href="#c001">1</a></div>
  <div class="col"><a class="button button-full" href="#c002">2</a></div>
  <div class="col"><a class="button button-full" href="#c003">3</a></div>
  <div class="col"><a class="button button-full" href="#c004">4</a></div>
  <div class="col"><a class="button button-full" href="#c005">5</a></div>
  <div class="col"><a class="button button-full" href="#c006">6</a></div>
  <div class="col"><a class="button button-full" href="#c007">7</a></div>
  <div class="col"><a class="button button-full" href="#c008">8</a></div>
  <div class="col"><a class="button button-full" href="#c009">9</a></div>
  <div class="col"><a class="button button-full" href="#c010">10</a></div>
</div>
<div class="row responsive-sm">
  <div class="col"><a class="button button-full" href="#c011">11</a></div>
  <div class="col"><a class="button button-full" href="#c012">12</a></div>
  <div class="col"><a class="button button-full" href="#c013">13</a></div>
  <div class="col"><a class="button button-full" href="#c014">14</a></div>
  <div class="col"><a class="button button-full" href="#c015">15</a></div>
  <div class="col"><a class="button button-full" href="#c016">16</a></div>
  <div class="col"><a class="button button-full" href="#c017">17</a></div>
  <div class="col"><a class="button button-full" href="#c018">18</a></div>
  <div class="col"><a class="button button-full" href="#c019">19</a></div>
  <div class="col"><a class="button button-full" href="#c020">20</a></div>
</div> -->


<div class="wrapper">
  <a class="ripplelink cyan" href="#c001">1</a>
  <a class="ripplelink cyan" href="#c002">2</a>
  <a class="ripplelink cyan" href="#c003">3</a>
  <a class="ripplelink cyan" href="#c004">4</a>
  <a class="ripplelink cyan" href="#c005">5</a>
  <a class="ripplelink cyan" href="#c006">6</a>
  <a class="ripplelink cyan" href="#c007">7</a>
  <a class="ripplelink cyan" href="#c008">8</a>
  <a class="ripplelink cyan" href="#c009">9</a>
  <a class="ripplelink cyan" href="#c010">10</a>

  <a class="ripplelink cyan" href="#c011">11</a>
  <a class="ripplelink cyan" href="#c012">12</a>
  <a class="ripplelink cyan" href="#c013">13</a>
  <a class="ripplelink cyan" href="#c014">14</a>
  <a class="ripplelink cyan" href="#c015">15</a>
  <a class="ripplelink cyan" href="#c016">16</a>
  <a class="ripplelink cyan" href="#c017">17</a>
  <a class="ripplelink cyan" href="#c018">18</a>
  <a class="ripplelink cyan" href="#c019">19</a>
  <a class="ripplelink cyan" href="#c020">20</a>

  <a class="ripplelink cyan" href="#c021">21</a>
  <a class="ripplelink cyan" href="#c022">22</a>
  <a class="ripplelink cyan" href="#c023">23</a>
  <a class="ripplelink cyan" href="#c024">24</a>
  <a class="ripplelink cyan" href="#c025">25</a>
  <a class="ripplelink cyan" href="#c026">26</a>
  <a class="ripplelink cyan" href="#c027">27</a>
  <a class="ripplelink cyan" href="#c028">28</a>
  <a class="ripplelink cyan" href="#c029">29</a>
  <a class="ripplelink cyan" href="#c030">30</a>

  <a class="ripplelink cyan" href="#c031">31</a>
  <a class="ripplelink cyan" href="#c032">32</a>
  <a class="ripplelink cyan" href="#c033">33</a>
  <a class="ripplelink cyan" href="#c034">34</a>
  <a class="ripplelink cyan" href="#c035">35</a>
  <a class="ripplelink cyan" href="#c036">36</a>
  <a class="ripplelink cyan" href="#c037">37</a>
  <a class="ripplelink cyan" href="#c038">38</a>
  <a class="ripplelink cyan" href="#c039">39</a>
  <a class="ripplelink cyan" href="#c040">40</a>

  <a class="ripplelink cyan" href="#c041">41</a>
  <a class="ripplelink cyan" href="#c042">42</a>
  <a class="ripplelink cyan" href="#c043">43</a>
  <a class="ripplelink cyan" href="#c044">44</a>
  <a class="ripplelink cyan" href="#c045">45</a>
  <a class="ripplelink cyan" href="#c046">46</a>
  <a class="ripplelink cyan" href="#c047">47</a>
  <a class="ripplelink cyan" href="#c048">48</a>
  <a class="ripplelink cyan" href="#c049">49</a>
  <a class="ripplelink cyan" href="#c050">50</a>

  <a class="ripplelink cyan" href="#c051">51</a>
  <a class="ripplelink cyan" href="#c052">52</a>
  <a class="ripplelink cyan" href="#c053">53</a>
  <a class="ripplelink cyan" href="#c054">54</a>
  <a class="ripplelink cyan" href="#c055">55</a>
  <a class="ripplelink cyan" href="#c056">56</a>
  <a class="ripplelink cyan" href="#c057">57</a>
  <a class="ripplelink cyan" href="#c058">58</a>
  <a class="ripplelink cyan" href="#c059">59</a>
  <a class="ripplelink cyan" href="#c060">50</a>

  <a class="ripplelink cyan" href="#c061">61</a>
  <a class="ripplelink cyan" href="#c062">62</a>
  <a class="ripplelink cyan" href="#c063">63</a>
  <a class="ripplelink cyan" href="#c064">64</a>
  <a class="ripplelink cyan" href="#c065">65</a>
  <a class="ripplelink cyan" href="#c066">66</a>
  <a class="ripplelink cyan" href="#c067">67</a>
  <a class="ripplelink cyan" href="#c068">68</a>
  <a class="ripplelink cyan" href="#c069">69</a>
  <a class="ripplelink cyan" href="#c070">70</a>

  <a class="ripplelink cyan" href="#c071">71</a>
  <a class="ripplelink cyan" href="#c072">72</a>
  <a class="ripplelink cyan" href="#c073">73</a>
  <a class="ripplelink cyan" href="#c074">74</a>
  <a class="ripplelink cyan" href="#c075">75</a>
  <a class="ripplelink cyan" href="#c076">76</a>
  <a class="ripplelink cyan" href="#c077">77</a>
  <a class="ripplelink cyan" href="#c078">78</a>
  <a class="ripplelink cyan" href="#c079">79</a>
  <a class="ripplelink cyan" href="#c080">80</a>

  <a class="ripplelink cyan" href="#c081">81</a>
  <a class="ripplelink cyan" href="#c082">82</a>
  <a class="ripplelink cyan" href="#c083">83</a>
  <a class="ripplelink cyan" href="#c084">84</a>
  <a class="ripplelink cyan" href="#c085">85</a>
  <a class="ripplelink cyan" href="#c086">86</a>
  <a class="ripplelink cyan" href="#c087">87</a>
  <a class="ripplelink cyan" href="#c088">88</a>
  <a class="ripplelink cyan" href="#c089">89</a>
  <a class="ripplelink cyan" href="#c090">90</a>

  <a class="ripplelink cyan" href="#c091">91</a>
  <a class="ripplelink cyan" href="#c092">92</a>
  <a class="ripplelink cyan" href="#c093">93</a>
  <a class="ripplelink cyan" href="#c094">94</a>
  <a class="ripplelink cyan" href="#c095">95</a>
  <a class="ripplelink cyan" href="#c096">96</a>
  <a class="ripplelink cyan" href="#c097">97</a>
  <a class="ripplelink cyan" href="#c098">98</a>
  <a class="ripplelink cyan" href="#c099">99</a>
  <a class="ripplelink cyan" href="#c100">100</a>

  <a class="ripplelink cyan" href="#c101">101</a>
  <a class="ripplelink cyan" href="#c102">102</a>
  <a class="ripplelink cyan" href="#c103">103</a>
  <a class="ripplelink cyan" href="#c104">104</a>
  <a class="ripplelink cyan" href="#c105">105</a>
  <a class="ripplelink cyan" href="#c106">106</a>
  <a class="ripplelink cyan" href="#c107">107</a>
  <a class="ripplelink cyan" href="#c108">108</a>
  <a class="ripplelink cyan" href="#c109">109</a>
  <a class="ripplelink cyan" href="#c110">110</a>

  <a class="ripplelink cyan" href="#c111">111</a>
  <a class="ripplelink cyan" href="#c112">112</a>
  <a class="ripplelink cyan" href="#c113">113</a>
  <a class="ripplelink cyan" href="#c114">114</a>
  <a class="ripplelink cyan" href="#c115">115</a>
  <a class="ripplelink cyan" href="#c116">116</a>
  <a class="ripplelink cyan" href="#c117">117</a>
  <a class="ripplelink cyan" href="#c118">118</a>
  <a class="ripplelink cyan" href="#c119">119</a>
  <a class="ripplelink cyan" href="#c120">120</a>
  
  <a class="ripplelink cyan" href="#c121">121</a>
  <a class="ripplelink cyan" href="#c122">122</a>
  <a class="ripplelink cyan" href="#c123">123</a>
  <a class="ripplelink cyan" href="#c124">124</a>
  <a class="ripplelink cyan" href="#c125">125</a>
  <a class="ripplelink cyan" href="#c126">126</a>
  <a class="ripplelink cyan" href="#c127">127</a>
  <a class="ripplelink cyan" href="#c128">128</a>
  <a class="ripplelink cyan" href="#c129">129</a>
  <a class="ripplelink cyan" href="#c130">130</a>

  <a class="ripplelink cyan" href="#c131">131</a>
  <a class="ripplelink cyan" href="#c132">132</a>
  <a class="ripplelink cyan" href="#c133">133</a>
  <a class="ripplelink cyan" href="#c134">134</a>
  <a class="ripplelink cyan" href="#c135">135</a>
  <a class="ripplelink cyan" href="#c136">136</a>
  <a class="ripplelink cyan" href="#c137">137</a>
  <a class="ripplelink cyan" href="#c138">138</a>


</div>

<!-- <div class="item range">
          <i class="icon ion-volume-low"></i>
          <input type="range" name="awesomeness3" min="0" max="10" value="1">
          <i class="icon ion-volume-high"></i>
        </div>
        <div class="item range range-light">
          <i class="icon ion-volume-low"></i>
          <input type="range" name="awesomeness4" min="0" max="10" value="2">
          <i class="icon ion-volume-high"></i>
        </div>
        <div class="item range range-stable">
          <i class="icon ion-volume-low"></i>
          <input type="range" name="awesomeness5" min="0" max="10" value="3">
          <i class="icon ion-volume-high"></i>
        </div>
        <div class="item range range-positive">
          <i class="icon ion-volume-low"></i>
          <input type="range" name="awesomeness6" min="0" max="10" value="4">
          <i class="icon ion-volume-high"></i>
        </div>

</div> -->

</ion-content>