<div class="container">
  <div class="row">
  <h1><a href="#/ext2.html">Pagina Externa 1</a></h1>
  <a href="#/page8/ext2.html">Pagina Externa 2 + subsiguientes</a>
   <ul class="list-group">
    <li class="list-group-item"><a href="#/page1/0">pagina 1</a></li>
    <li class="list-group-item"><a href="#/page2/1">pagina 2</a></li>
    <li class="list-group-item"><a href="#/page3/2">pagina 3</a></li>
    <li class="list-group-item"><a href="#/page4/3">pagina 4</a></li>
    <li class="list-group-item"><a href="#/page5/4">pagina 5</a></li>
    <li class="list-group-item"><a href="#/page5/5">pagina 6</a></li>
    <li class="list-group-item"><a href="#/page7/6">pagina 7 interna con enlace a una externa.</a></li>
</ul>
</div>
</div>