.buttondemoBasicUsage {
  /** From vulcanized demo **/ }
  .buttondemoBasicUsage section {
    background: #f7f7f7;
    border-radius: 3px;
    text-align: center;
    margin: 1em;
    position: relative !important;
    padding-bottom: 10px; }
  .buttondemoBasicUsage md-content {
    margin-right: 7px; }
  .buttondemoBasicUsage section .md-button:not(.md-fab) {
    min-width: 10em; }
  .buttondemoBasicUsage section .md-button {
    display: block;
    margin: 1em;
    line-height: 25px; }
  .buttondemoBasicUsage .label {
    position: absolute;
    bottom: 5px;
    left: 7px;
    color: #ccc;
    font-size: 14px; }

/* texto */

.lead {
/*  margin-bottom: 20px;*/
/*  font-size: 16px;*/
  font-weight: 300;
  line-height: 1;
}

.fixed-outside{
  position: absolute;
  bottom: 0;
  background: #000;
  color:white;
  width: 100%;
  height: 60px;
  text-align:center;
}

.has-bottom{
  bottom:49px !important;
}

    /* contenido */

.calibre { font-size: 24px;}
.calibre9{  display: block;    font-family: robotoc;    font-size: 0.625em;    font-weight: bold;    text-align: center;    margin: 2.33em 0 }
.calibre3{  color: #3fa2bf; font-size: 2em;  text-align: center; text-decoration: none;}
.prefix-number{color: #3fa2bf; font-size: 2em; line-height: 1em; text-decoration: none;}
.centrado { text-align: center;}

/* chorus */

div.chorus{
    
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
            /*gray fade per reader*/
        background: rgb(229,229,229);
        background: -moz-linear-gradient(left,  rgba(229,229,229,1) 0%, rgba(255,255,255,1) 61%);
        background: -webkit-linear-gradient(left,  rgba(229,229,229,1) 0%,rgba(255,255,255,1) 61%);
        background: -o-linear-gradient(left,  rgba(229,229,229,1) 0%,rgba(255,255,255,1) 61%);
        background: -ms-linear-gradient(left,  rgba(229,229,229,1) 0%,rgba(255,255,255,1) 61%);
        background: linear-gradient(to right,  rgba(229,229,229,1) 0%,rgba(255,255,255,1) 61%);
                page-break-inside: avoid;
                -webkit-column-break-inside: avoid;
                margin-bottom: 0.25em;
                margin-top: 1em;
                *line-height: normal;
                padding-top: 0em;
                padding-bottom: .25em;
                *padding-left: -2em;
                *padding-right: 0em;
                *margin-left: .7em;
}
div.chorus p.se{      
    /*font: bold italic 0.90em "Times New Roman", Times, serif !important;*/
    font: bold italic 0.90em Georgia, Palatino, "Palatino Linotype", Palatino, serif !important;
    text-align: center;
    margin: 1.5em 0 0 .8em;
    padding-left: .2em;
    padding-top:.5em;
    padding-bottom:.2em;
}


        /* cuadraditos css */


body{
 margin:0;
 padding:0;
}

.wrapper {
  display: block;
  width:99.6%;
  margin:0.2%;
}

.wrapper:after {
  content:"";
  display:table;
  clear:both;
}

.ripplelink{
  display:block;
  float:left;
  font-size: 1.2em;
  font-weight: bold;
  width:9%;
  margin:.5%;
  height:3.1em;
  line-height:3.1em;
  text-align:center;
  color:#fff;
  text-decoration:none;
  position:relative;
  overflow:hidden;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  z-index:0;
}

.ripplelink:hover{
  z-index:1000;
  box-shadow:rgba(0, 0, 0, 0.3) 0 16px 16px 0;
  -webkit-box-shadow:rgba(0, 0, 0, 0.3) 0 16px 16px 0;
  -moz-box-shadow:rgba(0, 0, 0, 0.3) 0 16px 16px 0;
}

.ink {
  display: block;
  position: absolute;
  background:rgba(255, 255, 255, 0.3);
  border-radius: 100%;
  -webkit-transform:scale(0);
     -moz-transform:scale(0);
       -o-transform:scale(0);
          transform:scale(0);
}

.animate {
  -webkit-animation:ripple 0.65s linear;
   -moz-animation:ripple 0.65s linear;
    -ms-animation:ripple 0.65s linear;
     -o-animation:ripple 0.65s linear;
        animation:ripple 0.65s linear;
}

@-webkit-keyframes ripple {
    100% {opacity: 0; -webkit-transform: scale(2.5);}
}
@-moz-keyframes ripple {
    100% {opacity: 0; -moz-transform: scale(2.5);}
}
@-o-keyframes ripple {
    100% {opacity: 0; -o-transform: scale(2.5);}
}
@keyframes ripple {
    100% {opacity: 0; transform: scale(2.5);}
}

paper-tabs.pink::shadow #selectionBar {
  background-color: #ff4081;
}

paper-tabs.pink paper-tab::shadow #ink {
  color: #ff4081;
}

[role="tabpanel"] {
    transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
    position: absolute; 
}
[role="tabpanel"].ng-enter, [role="tabpanel"].ng-leave.ng-leave-active  {

}

.gray{
  background:#3fa2bf;
}

.lightgreen{
  background:#8bc34a;
}

.amber{
  background:#ffc107;
}

.orange{
  background:#ff9800;
}
.gray1{
  background:#9e9b9a;
  color: #65605e;
}
.cyan{
  background:#eee;
  color: #65605e;
}