/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}


.col.grid-example {
    border: 1px solid #eee;
    margin: 7px 0;
    text-align: center;
    line-height: 50px;
    font-size: 28px;
    background-color: tomato;
    color: white;
    padding: 0px;
}

/* Mis Waves de color personalizado */

/*
    When creating your CSS selector,
    change "brown" to something of your choosing
    */
    .waves-effect.waves-facebook .waves-ripple {
     /* The alpha value allows the text and background color
     of the button to still show through. */
      background-color: #3b5998;
        
    }

.tabs li.tab a {
    color: #3fa2bf;
    display: block;
    width: 100%;
    height: 100%;
    -webkit-transition: color 0.28s ease;
    -moz-transition: color 0.28s ease;
    -o-transition: color 0.28s ease;
    -ms-transition: color 0.28s ease;
    transition: color 0.28s ease;
}

.tabs li.tab a:hover {
    color: #5fa2bc;
}