<!doctype html>
<html ng-app="todoApp">
  <head>
    
    <link rel="stylesheet" href="todo.css">
  </head>

<body>

<h2>Shopping Card Example</h2>
<div ng-controller="CartForm">
    <table class="table">
        <tr>
            
            <th>Description</th>
            <th>Qty</th>
            <th>Cost</th>
            <th>Total</th>
            <th></th>
        </tr>
<<<<<<< HEAD
        <tr ng-repeat="item in invoice.items">
=======
        <tr ng:repeat="item in invoice.items">
>>>>>>> 65cc0ab36e5d1dca16282243e86d1238aa95f76c
            <td><input type="text" ng-model="item.description"class="input-small"></td>           
            <td><input type="number" ng-model="item.qty" ng-required class="input-mini"></td>
            <td><input type="number" ng-model="item.cost" ng-required class="input-mini"></td>
            <td>{{item.qty * item.cost | currency}}</td>
            <td>
                [<a href ng-click="removeItem($index)">X</a>]
            </td>
        </tr>
        <tr>
            <td><a href ng-click="addItem()" class="btn btn-small">add item</a></td>
            <td></td>
            <td>Total:</td>
            <td>{{total() | currency}}</td>
        </tr>
    </table>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
<script src="js/angular-locale_es-es.js"></script>
<!-- <script src="js/todo.js"></script> -->
<script>
angular.module('todoApp', [])

.controller('CartForm', ['$scope', function($scope) {    

    $scope.invoice = {
        items: [{
            qty: 1,
            description: 'item',
            cost: 9.95}]
    }];

    $scope.addItem = function() {
        $scope.invoice.items.push({
            qty: 1,
            description: '',
            cost: 0
        });
    },

    $scope.removeItem = function(index) {
        $scope.invoice.items.splice(index, 1);
    },

    $scope.total = function() {
        var total = 0;
        angular.forEach($scope.invoice.items, function(item) {
            total += item.qty * item.cost;
        })
        return total;
    }

}]);
</script>

  </body>
</html>