<div class="jumbotron text-center">
	
	<h1><a href="ext2.html#pagext2">Pagina Externa 1</a></h1>
	<a href='ext2.html' onclick="window.location = 'ext2.html';" target="_self">Pagina 2 externa</a>
	<p>
	    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta nemo, rerum at aspernatur sunt ipsa repudiandae eum doloribus harum fuga commodi, eos incidunt maiores voluptates. Blanditiis dolores quisquam repudiandae, mollitia.
	</p>
	<p>
	    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta nemo, rerum at aspernatur sunt ipsa repudiandae eum doloribus harum fuga commodi, eos incidunt maiores voluptates. Blanditiis dolores quisquam repudiandae, mollitia.
	</p>
	<p id="pagext1">
	    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta nemo, rerum at aspernatur sunt ipsa repudiandae eum doloribus harum fuga commodi, eos incidunt maiores voluptates. Blanditiis dolores quisquam repudiandae, mollitia.
	</p>
	
</div>