
	
	<h1 id="idp2">Pagina Externa 2</h1>
	<p><a href="#/page8/capi#lorem3">Ir al P3</a></p>
    <p>
	    <a href="#/page8/ext1.html#pagext1"><h1>Lorem external de pag1 con ID</h1></a> ipsum dolor sit amet, consectetur adipisicing elit. Soluta nemo, rerum at aspernatur sunt ipsa repudiandae eum doloribus harum fuga commodi, eos incidunt maiores voluptates. Blanditiis dolores quisquam repudiandae, mollitia.
	</p>
	<p>
	    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta nemo, rerum at aspernatur sunt ipsa repudiandae eum doloribus harum fuga commodi, eos incidunt maiores voluptates. Blanditiis dolores quisquam repudiandae, mollitia.
	</p>
	<p>
	    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta nemo, rerum at aspernatur sunt ipsa repudiandae eum doloribus harum fuga commodi, eos incidunt maiores voluptates. Blanditiis dolores quisquam repudiandae, mollitia.
	</p>
	<p>
	    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta nemo, rerum at aspernatur sunt ipsa repudiandae eum doloribus harum fuga commodi, eos incidunt maiores voluptates. Blanditiis dolores quisquam repudiandae, mollitia.
	</p>
	<p>
	    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta nemo, rerum at aspernatur sunt ipsa repudiandae eum doloribus harum fuga commodi, eos incidunt maiores voluptates. Blanditiis dolores quisquam repudiandae, mollitia.
	</p>
	<p>
	    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta nemo, rerum at aspernatur sunt ipsa repudiandae eum doloribus harum fuga commodi, eos incidunt maiores voluptates. Blanditiis dolores quisquam repudiandae, mollitia.
	</p>
	<p>
	    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta nemo, rerum at aspernatur sunt ipsa repudiandae eum doloribus harum fuga commodi, eos incidunt maiores voluptates. Blanditiis dolores quisquam repudiandae, mollitia.
	</p>
	<p>
	    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta nemo, rerum at aspernatur sunt ipsa repudiandae eum doloribus harum fuga commodi, eos incidunt maiores voluptates. Blanditiis dolores quisquam repudiandae, mollitia.
	</p>

	<p>
	    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta nemo, rerum at aspernatur sunt ipsa repudiandae eum doloribus harum fuga commodi, eos incidunt maiores voluptates. Blanditiis dolores quisquam repudiandae, mollitia.
	</p>
	<p>
	    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta nemo, rerum at aspernatur sunt ipsa repudiandae eum doloribus harum fuga commodi, eos incidunt maiores voluptates. Blanditiis dolores quisquam repudiandae, mollitia.
	</p>
	<p>
	    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta nemo, rerum at aspernatur sunt ipsa repudiandae eum doloribus harum fuga commodi, eos incidunt maiores voluptates. Blanditiis dolores quisquam repudiandae, mollitia.
	</p>
	<p>
	    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta nemo, rerum at aspernatur sunt ipsa repudiandae eum doloribus harum fuga commodi, eos incidunt maiores voluptates. Blanditiis dolores quisquam repudiandae, mollitia.
	</p>
	<p>
	    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta nemo, rerum at aspernatur sunt ipsa repudiandae eum doloribus harum fuga commodi, eos incidunt maiores voluptates. Blanditiis dolores quisquam repudiandae, mollitia.
	</p>

	<p id="lorem3">
	    ESTA TIENE el ID3 dolor sit amet, consectetur adipisicing elit. Soluta nemo, rerum at aspernatur sunt ipsa repudiandae eum doloribus harum fuga commodi, eos incidunt maiores voluptates. Blanditiis dolores quisquam repudiandae, mollitia.
	</p>
	
